@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.App {
  font-family: Rubik, sans-serif;
  text-align: center;
}
.dark {
  color: #ffffff;
  background-color: #000000;
}
.DarkMode {
  text-align: right;
  margin-right: 5rem;
}
.darkModeBtn {
  background-color: #2b2e4a;
  border: 3px solid #52616b;
  outline: none;
}
.createNote {
  border: 1px solid #000000;
  width: fit-content;
  margin: auto;
  padding: 1rem;
}
.input {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: transparent;
  color: #000000;
  border: none;
  border-bottom: 1px solid black;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #000000;
}
.takeNote {
  width: 10rem;
  /* height: 10rem; */
}
.btnArea {
  padding: 0.5rem 0rem;
}
.btn {
  width: 4rem;
  padding: 0.3rem;
  margin: 1px;
  background-color: #000000;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.theNote {
  padding: 1rem 0.7rem;
  border: 1px solid #000000;
  width: 13rem;
  color: #000000;
  text-align: left;
  margin: 1rem;
}
.context {
  color: #c9d6df;
  padding: 0;
  margin: 0;
}
/* Color Button */
.Colors {
  background-color: #000000;
  width: fit-content;
  margin: auto;
  padding: 0 1.5rem;
}
.colorBtn {
  cursor: pointer;
  padding: 1rem;
  border-radius: 100%;
  border: none;
  margin: 5px 2px;
  outline: none;
}
.red {
  background-color: #e84545;
}
.green {
  background-color: #00b8a9;
}
.blue {
  background-color: #3490de;
}
.yellow {
  background-color: #f9ed69;
}
